.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0 60px 0 60px;
}
.about-section-content {
  margin-right: 38px;
}
.about-section h1 {
  font-family: var(--heading-font-family);
  font-size: 20px;
  line-height: 41px;
}
.about-section h2 {
  font-family: var(--heading-font-family);
  font-size: 20px;
  line-height: 41px;
}
.about-section .about-section-row {
  padding-top: 100px;
}
.about-section-content .cv-link {
  font-family: var(--secondary-font-family);
  text-decoration: none;
  color: rgb(74, 100, 159);
  transition: all 150ms ease-in-out;
  font-weight: bold;
  font-size: 15px;
}
.about-section-content .cv-link:hover {
  color: #527587;
}

@media (max-width: 600px) {
  .about-section {
    padding: 100px 30px 0 30px;
    min-height: 100vh;
    justify-content: start;
  }
  .about-section .about-section-row {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .about-section-content {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .about-section .profile-pic {
    max-width: 100%;
    height: 180px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .about-section h1 {
    font-size: 12px;
    line-height: 25px;
  }
  .about-section h2 {
    font-size: 12px;
    line-height: 25px;
  }
  .about-section .about-img {
    width: 18px;
  }
  .about-section .cv-link {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .about-section .profile-pic {
    max-width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
  .about-section {
    padding: 0 20px;
  }
  .about-section-content {
    margin-right: 0;
  }
}
