.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0 60px 0 60px;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  line-height: 38px;
  color: #1a1c20;
}
.hero p {
  font-family: var(--heading-font-family);
}
@media (max-width: 600px) {
  .hero h1 {
    font-size: 26px;
  }
  .hero img {
    width: 30px;
  }
  .hero p {
    font-size: 15px;
  }
}
@media (min-width: 1000px) {
  .hero h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .hero img {
    width: 50px;
  }
  .hero p {
    font-size: 17px;
  }
}
@media (min-width: 2000px) {
  .hero h1 {
    font-size: 70px;
    line-height: 83px;
  }
  .hero img {
    width: 60px;
  }
  .hero p {
    font-size: 25px;
  }
}
