/* font import */
@font-face {
  font-family: laorbrige;
  src: url(../fonts/laobrige.otf);
  font-weight: normal;
}
@font-face {
  font-family: monospaceTypewriter;
  src: url(../fonts/MonospaceTypewriter.ttf);
  font-weight: normal;
}
@font-face {
  font-family: smiley;
  src: url(../fonts/smiley.ttf);
  font-weight: normal;
}
@font-face {
  font-family: sportingGrotesque;
  src: url(../fonts/SportingGrotesque-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: sportingGrotesque;
  src: url(../fonts/SportingGrotesque-Bold.otf);
  font-weight: bold;
}
/* <--root--> */
:root {
  --heading-font-family: "sportingGrotesque";
  --secondary-font-family: "monospaceTypewriter";
}
/* <--font--> */
.navbar-font {
  font-family: var(--heading-font-family);
}
.laobrige-font {
  font-family: laorbrige;
}
.monospace-font {
  font-family: var(--secondary-font-family);
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgb(205, 214, 70) 50%
  );
}
.monospace-font-no-highlight {
  font-family: var(--secondary-font-family);
}
.smiley-font {
  font-family: smiley;
}
/* <--navbar--> */
.container-fluid {
  padding: 0 35px 0 35px;
}

.active {
  text-decoration: underline rgb(205, 214, 70);
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
}

.nav-link {
  padding-bottom: 2px !important;
}
.navbar-font {
  font-family: var(--heading-font-family);
}
.navbar {
  background-color: #e7e6e3;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: #000;
  height: 4px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}
@media (min-width: 1280px) {
  .navbar-brand {
    font-size: 25px;
  }
  .nav-link {
    font-size: 21px;
  }
}
@media (min-width: 1920px) {
  .navbar-brand {
    font-size: 25px;
  }
  .nav-link {
    font-size: 21px;
  }
}
