/* <--font import--> */
@font-face {
  font-family: laorbrige;
  src: url(./fonts/laobrige.otf);
  font-weight: normal;
}
@font-face {
  font-family: monospaceTypewriter;
  src: url(./fonts/MonospaceTypewriter.ttf);
  font-weight: normal;
}
@font-face {
  font-family: smiley;
  src: url(./fonts/smiley.ttf);
  font-weight: normal;
}
@font-face {
  font-family: sportingGrotesque;
  src: url(./fonts/SportingGrotesque-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: sportingGrotesque;
  src: url(./fonts/SportingGrotesque-Bold.otf);
  font-weight: bold;
}
/* <--root--> */
:root {
  --heading-font-family: "sportingGrotesque";
  --secondary-font-family: "monospaceTypewriter";
}
/* <--font--> */
.navbar-font {
  font-family: var(--heading-font-family);
}
.laobrige-font {
  font-family: laorbrige;
}
.monospace-font {
  font-family: var(--secondary-font-family);
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgb(205, 214, 70) 50%
  );
}
.monospace-font-no-highlight {
  font-family: var(--secondary-font-family);
}
.smiley-font {
  font-family: smiley;
}
body {
  background-color: black;
}
